<header>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-light">
                Movie App
            </a>
            <form method="post" class="d-flex" role="search" action="/search">
            <!-- inputのnameで指定した単語をコントローラーで受け取る --!>
                <input class="form-control me-2" name="text" type="search" placeholder="タイトルを入力" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>