<header>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-light">
                Movie App
            </a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="タイトルを入力" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>